In [31]:
#We're getting data as some JSON, we've made it a pandas df
#could be any number of rows, any number of columns, there's a lack of structure to what we might get
#let's say it's a financial setting, we want to check for values that don't belong in a column
#we want to check for non-numeric entries
#one way to iterate through a dataframe

#first establish the first column to iterate through
#working_column = 0
    #Have for loop that goes through all the columns
def check_for_unusual_values(df):
    import re

    def contains_non_numeric(string):
        pattern = r'[^0-9,.]'
        return re.search(pattern, string) is not None
    
    for column in df.columns:
    #Check if column is quantitative
        if df[column].dtypes == object:
    #THEN go into for loop going down through all rows in that column
            for row in range(0, (df.shape[0])):
      #check for an unusual value that is non-numeric          
                #print(type(df.iloc[row][column]) == str)
                if (type(df.iloc[row][column]) == str) and (contains_non_numeric(df.iloc[row][column]) == True):
                
                #print("unusual value detected at "+str(row)+","+str(column))
                    print(f"unusual value detected at {row},{column}:{df.iloc[row][column]}")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_practice = pd.DataFrame({'column 1': [6.5, 7.8, 9],'column 2':[5,8,10],'column 3':[5,8.2,'fifty-five']})

In [5]:
for column in df_practice.columns:
    print(column)

column 1
column 2
column 3

In [20]:
df_practice['column 1'].dtypes == float

True

In [32]:
check_for_unusual_values(df_practice)

unusual value detected at 2,column 3:fifty-five

In [61]:
def check_for_unusual_values(df):
    import re

    def contains_non_numeric(string):
        pattern = r'[^0-9,.]'
        return re.search(pattern, string) is not None
    
    for column in df.columns:
    #Check if column is quantitative
        if df[column].dtypes == object:
            try:
                df[column]=df[column].astype('str')
                df[column] = df[column].str.replace(',', '').astype(float)
            except Exception:
                
    #THEN go into for loop going down through all rows in that column
                for row in range(0, (df.shape[0])):
      #check for an unusual value that is non-numeric          
                #print(type(df.iloc[row][column]) == str)
                    if (type(df.iloc[row][column]) == str) and (contains_non_numeric(df.iloc[row][column]) == True):
                
                #print("unusual value detected at "+str(row)+","+str(column))
                        print(f"unusual value detected at {row},{column}:{df.iloc[row][column]}")

In [62]:
df_practice2 = pd.DataFrame({'column 1': [6.5, 7.8, 9],'column 2':[5,8,10],'column 3':[5,8.2,'1,000']})

In [63]:
check_for_unusual_values(df_practice2)

In [64]:
df_practice2.head()

   column 1  column 2  column 3
0       6.5         5       5.0
1       7.8         8       8.2
2       9.0        10    1000.0

In [57]:
df_practice2['column 3']=df_practice2['column 3'].astype('str')

In [48]:
type(df_practice2.iloc[0]['column 3'])

str

In [50]:
df_practice2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column 1  3 non-null      float64
 1   column 2  3 non-null      int64
 2   column 3  3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [65]:
check_for_unusual_values(df_practice)

unusual value detected at 2,column 3:fifty-five

In [66]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Define the lambda function to operate on multiple columns
function = lambda row: row['A'] * 2 + row['B']

# Apply the lambda function to create the new column
df['C'] = df.apply(function, axis=1)

# Display the updated DataFrame
print(df)

   A   B   C
0  1  10  12
1  2  20  24
2  3  30  36
3  4  40  48
4  5  50  60

In [67]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Define the lambda function to operate on multiple columns


# Apply the lambda function to create the new column
df['C'] = df['A'] * 2 + df['B']

# Display the updated DataFrame
print(df)

   A   B   C
0  1  10  12
1  2  20  24
2  3  30  36
3  4  40  48
4  5  50  60

In [68]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Define the conditions
conditions = [
    df['A'] < 3,
    df['A'] >= 3, 
]

# Define the functions corresponding to each condition
def function1(x):
    return x * 2

def function2(x):
    return x + 5

# Vectorize the functions
vectorized_function1 = np.vectorize(function1)
vectorized_function2 = np.vectorize(function2)

# Apply the functions based on the conditions and create the new column
df['C'] = np.select(conditions, [vectorized_function1(df['A']), vectorized_function2(df['B'])], default=np.nan)

# Display the updated DataFrame
print(df)

   A   B     C
0  1  10   2.0
1  2  20   4.0
2  3  30  35.0
3  4  40  45.0
4  5  50  55.0

In [69]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df
# Define the conditions
conditions = [
    df['A'] < 3,
    df['A'] >= 3
]

# Define the functions corresponding to each condition
def function1(df):
    return df['A'] * 2 + df['B']

def function2(df):
    return df['A'] + df['B'] * 2

# Apply the functions based on the conditions and create the new column
df['C'] = np.select(conditions, [function1(df), function2(df)], default=np.nan)

# Display the updated DataFrame
print(df)

   A   B      C
0  1  10   12.0
1  2  20   24.0
2  3  30   63.0
3  4  40   84.0
4  5  50  105.0