In [1]:
my_string = 'sfsdfgdsfgdsfgdgdfg'

In [2]:
print(my_string)

sfdfgdsfgdsfgdgdfg

In [3]:
print(my_string[0:4])

sfdf

In [4]:
numbers_str='1234567'

In [5]:
numbers_str[0]

'1'

In [14]:
my_int = 456

In [16]:
(type(my_int))

int

In [17]:
type((my_int/4)*4)

float

In [21]:
my_int/7

65.14285714285714

In [23]:
1,000,000

(1, 0, 0)

In [39]:
my_tup = (1,3.17,6,'sdfsadfsaf','bob','bob',65,'bob')

In [92]:
#len(my_tup)  #Returns the length of the tuple.

#my_tup[5] #Accesses the element at the specified index.
#my_tup.count('bob') # Returns the number of occurrences of a value in the tuple.
my_tup.index('bob',0,3) # Returns the index of the first occurrence of a value in the tuple (optional start and end parameters limit the search range)

ValueError: tuple.index(x): x not in tuple

this is a practice thing in jupyter notebooks

In [47]:
my_list = [1,6,9,1.11,5,'fsadfasdf',3.17]

In [57]:
#test=len(my_list) # Returns the length of the list.


#my_list.append('hello world') #Adds an item to the end of the list.

#my_list.insert(4, "new item") #Inserts an item at a specific index in the list.


#my_list.extend(['new','list','items']) #Appends all items from an iterable (such as another list) to the end of the list..

el_five = my_list.pop(8) #Removes and returns the item at the specified index. If no index is specified, it removes and returns the last item.
'''
list.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.
list.count(item): Returns the number of occurrences of an item in the list.
list.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be used for custom sorting.
list.reverse(): Reverses the order of the items in the list. 
'''

'\nlist.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.\nlist.count(item): Returns the number of occurrences of an item in the list.\nlist.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be used for custom sorting.\nlist.reverse(): Reverses the order of the items in the list. \n'

In [59]:
print(my_list)

[1, 6, 9, 1.11, 'new item', 'fsadfasdf', 3.17, 'hello world', 'list', 'items']

In [58]:
el_five

'new'

In [60]:
my_json = {'first name':'Jill','last name':'Thompson','age':31,'hair':'red','dob':'1989-09-29'}

In [73]:
#len(my_json) # Returns the number of key-value pairs in the dictionary.

#my_json['dob'] #: Accesses the value associated with the specified key.
#my_json['age'] = 32 #Adds or updates a key-value pair.
#del my_json['hair'] #: Deletes the key-value pair with the specified key.
#my_json.keys() #: Returns a view object of all keys in the dictionary.
my_json.values() # Returns a view object of all values in the dictionary.
#dict.items(): Returns a view object of all key-value pairs in the dictionary.

dict_values(['Jill', 'Thompson', 32, '1989-09-29'])

In [70]:
my_json

{'first name': 'Jill', 'last name': 'Thompson', 'age': 32, 'dob': '1989-09-29'}

In [77]:
my_list[2:7]

[9, 1.11, 'new item', 'fsadfasdf', 3.17]

Let's say I want to do division on an integer
But I don't want it to have the default behaviour of returning a float, if the other integer goes into it evenly
If it doesn't go into it evenly then it should return a float

In [85]:
if 6%2 == 0:
    print(int(6/2))
else:
    print(6/2)

3

In [86]:
def int_or_float_div(int1,int2):
    if int1%int2 == 0:
        return int(int1/int2)
    else:
        return int1/int2

In [90]:
int_or_float_div(10,3)

3.3333333333333335

In [93]:
def el_in_tup(el,tup):
    try:
        return tup.index(el)
    except Exception:
        None

In [101]:
el_in_tup('tom',my_tup)

i can't find that element

In [96]:
my_tup

(1, 3.17, 6, 'sdfsadfsaf', 'bob', 'bob', 65, 'bob')